@font-face {
  font-family: "Ica Rubrik Bold";
  src: url(./fonts/ICARubrikBold.woff) format("woff"),
    url(./fonts/ICARubrikBold.ttf) format("truetype");
}

@font-face {
  font-family: "Ica Rubrik Siffror";
  src: url(./fonts/icarubriksiffror-webfont.woff2) format("woff2"),
    url(./fonts/icarubriksiffror-webfont.woff) format("woff"),
    url(./fonts/icarubriksiffror-webfont.ttf) format("truetype");
}

@font-face {
  font-family: "Ica black font";
  src: url(./fonts/icatext-black-webfont.woff2) format("woff2"),
    url(./fonts/icatext-black-webfont.woff) format("woff"),
    url(./fonts/icatext-black-webfont.ttf) format("truetype");
}

@font-face {
  font-family: "Ica regular";
  src: url(./fonts/ICATextWebRegular.woff) format("woff"),
    url(./fonts/ICATextWebRegular.ttf) format("truetype");
}
